@import '/src/main.scss';

//the clickable cells for the different submissions
.leaderboard-table>tbody>tr.view, .pi-table>tbody>tr.view {
    outline: 1px solid $primary;
}

//highlight the cells to show they are interactive
.leaderboard-table>tbody>tr.view:hover, .pi-table>tbody>tr.view:hover {
    background-color: $highlight;
}

.leaderboard-table>tbody>tr>* {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

//give padding to any td or th element actually in .leaderboard-table
.leaderboard-table>*>tr>* {
    padding-left: 1em;
    padding-right: 1em;
}

.pi-table>tbody>tr>* {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.pi-table>*>tr>* {
    padding-left: 1em;
    padding-right: 1em;
}

.leaderboard-table tr th, .pi-table tr th {
    text-align: left;
    font-size: medium;
    font-weight: normal;
}

.leaderboard-table>thead th, .pi-table>thead th {
    font-weight: $font-weight-semibold;
}

.leaderboard-table td:first-child, .leaderboard-table th:first-child, .pi-table th:first-child .pi-table td:first-child {
    color: $secondary;
    padding-left: 3em;
}

.leaderboard-table td:last-child, .leaderboard-table th:last-child, .pi-table th:last-child .pi-table td:last-child {
    padding-right: 2em;
}
//overriding the lastchild styling for the rows that contain a collapse
.leaderboard-table td.fold-container {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.leaderboard-table, .pi-table {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse:separate; 
    border-spacing: 0 0.8em;
    color: $primary;
}

.leaderboard-table .download-cell, .pi-table .download-cell {
    text-align: center;
}

.fold-content {
    padding-top: 0;
    padding-bottom: 0;
}

.pi-table>thead>tr {
    margin-top:0;
}

//the classes for toggling the collapses
.leaderboard-table > tbody > tr.fold-closed {
    display: none;
}
.leaderboard-table > tbody > tr.fold-open {
    display: table-row;
}

i.disabled {
    color: $gray-500;
    cursor:not-allowed;
}