.custom_alert{
    position: absolute;
    z-index: 1000; /* Ensure a high z-index to appear on top */
    width: 100%;

    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;

    text-align: center;

    button {
        border: none;
        background-color: transparent;
    }
}

.custom_success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.custom_primary {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.custom_warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.custom_error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}