.flex-box {
    display: flex;
    width: 100%;
}

.nav-wrapper {
    width: 100%;
    max-width: 100vw;
}

.navbar {
    background-color: #f2f2f2;
    padding:20px;
}

.navbar-toggler {
    width: 30px;
    height: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    float:right;
    margin-top: 10px;
}

.navbar-toggler-icon {
    width: 100%;
    height: 4px;
    background-color: #000; /* Adjust color as needed */
}

.navbar-name {
    color:#3d3d3d;
    font-size: 26px;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    padding-top: 10px;
}

.nav-item a {
    color:#8a8a8a;
    font-size: 18px;
}

.navbar-collapse {
    overflow: hidden;
    height: 0;
    transition: all 10s ease;
}

.navbar-collapse.open {
    height: auto;
    transition: all 10s ease;
}
